coverage/
artifacts/
node_modules/
.nyc_output/
**/npm-debug.log
tmp/
.DS_Store
.*.swp
.svn
*~
.com.apple.timemachine.supported
lerna-debug.log
*.iml
.idea/
.vscode
jsconfig.json
.gradle
build/

app/target
app/build
app/out
models/target
models/build
models/out


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar